timezone:    Europe/Berlin
future:      false
# Set baseurl to the base path of the site eg "/mytalk"
# baseurl:     "/github-slideshow"
# The allowed values are 'rouge', 'pygments' or null.
highlighter: rouge
# markdown - Valid options are [ maruku | rdiscount | kramdown | redcarpet ]
markdown:    kramdown
lsi:         false
permalink:   "/:title"
